.font1352{ font-size: 9pt ;}
.fontstyle1352{ font-size: 14px; color: #0e5ebe ;}
.titlestyle1403{ font-size: 9pt; color: #222222; text-decoration: none ;}
.titlestyle1404{ font-size: 9pt; color: #222222; text-decoration: none ;}
.titlestyle1355{ font-size: 9pt; color: #222222; text-decoration: none ;}
.splitflagstyle1377{ color: #222222 ;}
.fontstyle1377{ font-size: 14px; text-decoration: none; color: #333 ;}
.winstyle1377{ font-size: 14px; color: #333333 ;}
.windowstyle1378{ font-size: 15px; font-weight: 600; color: #fff ;}
.titlestyle1381{ font-size: 9pt; color: #222222; text-decoration: none ;}
.titlestyle1382{ font-size: 9pt; color: #222222; text-decoration: none ;}
.windowstyle1384{ font-size: 15px; font-weight: 600; color: #666 ;}
.titlestyle1369{ font-size: 9pt; color: #222222; text-decoration: none ;}