@charset "utf-8";
/* CSS Document */
body{font-size:12px;}
body,div,ul,li,p,h1,h2,h3,h4,h5,h6,input,a{margin:0;padding:0;}
body{font-family:"Microsoft YaHei";}
#wrapper{height:auto;overflow:hidden;margin:0 auto;min-width:1400px;}
a{text-decoration:none;color:#333333;}
a:hover{color:#ccc;}

.fl{float:left;}
.fr{float:right;}
li{list-style:none;}
img{border:none;}
.head{height:auto;margin:0 auto;background:url(../images/tf_05.jpg) repeat-x left bottom;padding-bottom:13px;}
.topbar{height:32px;line-height:32px;background:#f4f4f4;}
.topbar_con{width:1200px;height:32px;margin:0 auto;}
.topbar_left{background:url(../images/top_09.gif) no-repeat left 9px;padding-left:17px;}
.topbar_left,.topbar_right a{font-size:13px;color:#0e5ebe;}
.topbar_right {margin-left:10px;}
.topbar_right a{margin-left:12px;}
.topbar_right a.tr_1{background:url(../images/top_11.gif) no-repeat left 3px;padding-left:17px;}
.topbar_right a.tr_2{background:url(../images/top_06.gif) no-repeat left 1px;padding-left:17px;}
.topbar_r{width:560px;height:32px;}
.head_pic{width:130px;height:32px;margin-left:15px;}
.head_pic ul li{float:left;width:38px;height:32px;}

.head_pic ul li.wb_pic{height:27px;position:relative;padding:5px 0 0 13px;z-index:100;}
.head_pic ul li.wb_pic .h_wb{display:none;position:absolute;left:0px;top:32px;z-index:100;}
.head_pic ul li.wb_pic .h_wb img{width:136px;height:168px;}
.head_pic ul li.wb_pic:hover{background:#b1b1b1;}
.head_pic ul li.wb_pic:hover .h_wb{display:block;background:#b1b1b1;padding:5px;}


.head_pic ul li.wx_pic{height:27px;position:relative;padding:5px 0 0 13px;width:40px;z-index:100;}
.head_pic ul li.wx_pic .h_wx{display:none;position:absolute;left:0px;top:32px;z-index:100;}
.head_pic ul li.wx_pic .h_wx img{width:136px;height:168px;}
.head_pic ul li.wx_pic:hover{background:#b1b1b1;}
.head_pic ul li.wx_pic:hover .h_wx{display:block;background:#b1b1b1;padding:5px;}




.s_search{background:url(../images/ss.jpg) no-repeat 72px center; width:284px;height:25px;margin-top:3px;line-height:23px;font-size:14px;}
.s_search input:focus{outline:0;}
.head_m{background:#0e5ebe;height:auto;overflow:hidden;}
.head_t{height:100px;overflow:hidden;margin:0 auto;width:1200px;background:url(../images/top_bg.png) no-repeat 220px 0;}
.logo{width:266px;height:82px;float:left;margin:10px 0 0 0;}
.head_r{float:right;height:auto;overflow:hidden;margin-top:25px;}

.search{width:326px;height:69px;overflow:hidden;}
.head_d{height:38px;margin:0 auto;background:#0a356f;}


.ddsmoothmenu{ font-size:17px; color:#fff; width:1200px; height:38px; line-height:38px;margin:0 auto;}
.ddsmoothmenu ul{margin: 0;padding: 0;list-style-type: none;}
.ddsmoothmenu ul li{position: relative;display: inline;float: left !important; }

.ddsmoothmenu ul li.sel{}
.ddsmoothmenu ul li.sel>a{ color:#636363;}
.ddsmoothmenu ul li a{display: block;color: #fff;text-decoration: none;width:100px;height:36px;text-align:center;margin-right:16px;}
* html .ddsmoothmenu ul li a{ display: inline-block;}
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{}
.ddsmoothmenu ul li a.selected,.ddsmoothmenu ul li a:hover{ color:#fff !important;line-height:38px;background:#000;}
 .ddsmoothmenu ul li a.cur{background:url() repeat-x left bottom;}

.ddsmoothmenu ul li ul{position: absolute;left: 0;display: none;visibility: hidden;width:145px}

.ddsmoothmenu ul li ul li{display: list-item; width:145px;height:35px;border-bottom:1px solid #555;background:url() no-repeat 125px center;}

.ddsmoothmenu ul li ul li a{color: #fff;font-size: 12px;font-weight: normal;margin: 0; padding:0px; width:127px;height:35px;background:url() no-repeat 125px center #000;text-align:left;padding-left:18px;border-bottom:none !important;filter:alpha(opacity=80); 
        -moz-opacity:0.8; 
        opacity:0.8;}
.ddsmoothmenu ul li ul li a.selected{

}
.ddsmoothmenu ul li ul li a:hover{
background:url() no-repeat 125px center #222;
}
.main{width:1200px;height:auto;margin:0 auto;}
.banner{width:1200px;height:255px;}
/*焦点图*/
.focus{ position:relative; width:1200px; height:255px; background-color: #fff; float: left;}  
.focus img{ width: 1200px; height: 255px;} 
.focus .shadow .title{width: 260px; height: 65px;padding-left: 30px;padding-top: 20px;}
.focus .shadow .title a{ text-decoration:none; color:#fff; font-size:14px; font-weight:bolder; overflow:hidden; }
.focus .btn{ position:absolute; bottom:34px; left:510px; overflow:hidden; zoom:1;} 
.focus .btn a{position:relative; display:inline; width:13px; height:13px; border-radius:7px; margin:0 5px;color:#B0B0B0; text-decoration:none; text-align:center; outline:0; float:left; background:#D9D9D9; }  
.focus .btn a:hover,.focus .btn a.current{  cursor:pointer;background:#fc114a;}  
.focus .fPic{ position:absolute; left:0px; top:0px; }  
.focus .D1fBt{ overflow:hidden; zoom:1;  height:16px; z-index:10;  }  
.focus .shadow{ width:100%; position:absolute; bottom:0; left:0px; z-index:10; height:40px; line-height: 40px; background:rgba(0,0,0,0.6);    
filter:progid:DXImageTransform.Microsoft.gradient( GradientType = 0,startColorstr = '#80000000',endColorstr = '#80000000')\9;  display:block;  text-align:center; }  
.focus .shadow a{ text-decoration:none; color:#fff; font-size:14px; overflow:hidden; text-align:center;}  
.focus .fcon{ position:relative; width:100%; float:left;  display:none; background:#000  }  
.focus .fcon img{ display:block; }  
.focus .fbg{bottom:5px; left:50%; position:absolute; height:21px; text-align:center; z-index: 200; width:150px;display:block;margin-left:-75px;}  
.focus .fbg div{margin:4px auto 0;overflow:hidden;zoom:1;height:14px}    
.focus .D1fBt a{position:relative; display:inline; width:12px; height:12px;  text-decoration:none; text-align:center; outline:0; float:left; background:url() no-repeat;margin-left:5px; }    
.focus .D1fBt .current,.focus .D1fBt a:hover{background:url() no-repeat ;}     
.focus .D1fBt img{display:none}    
.focus .D1fBt i{display:none; font-style:normal; }    
.focus .prev,.focus .next{position:absolute;width:40px;height:74px;}
.focus .prev{ }  
.focus .next{}  
.focus .prev:hover{  }  
.focus .next:hover{ } 

/*main_one*/
.main_one{width:1200px;height:auto;overflow:hidden;margin:0 auto;margin-top:15px;}
.tf_news{width:430px;height:auto;overflow:hidden;}
.tf_news_title{background:url() no-repeat left center;border-bottom:1px solid #0E5EBE;height:35px;line-height:35px;}
.more a{color:#555555;}
.more a .add{color:#0c4b91;padding-right:5px;}
.name{color:#0E5EBE;font-size:16px;padding-left:33px;font-weight:600;}
.tf_news_con{overflow:hidden;}
.new{border-bottom:1px dashed #ccc;padding:10px 0;height:auto;overflow:hidden;}
.new_l{width:58px;height:58px;overflow:hidden;float:left;margin-right:15px;background:url(../images/time.png) no-repeat;}
.day{color:#fff;height:23px;line-height:23px;text-align:center;font-size:14px;}
.year{color:#cccccc;height:33px;text-align:center;line-height:35px;font-size:28px;font-weight:600;font-family:"Arial";}
.new_r{height:58px;overflow:hidden;float:left;width:345px;}
.new_title{padding:5px 0;}
.new_title a{color:#545454;font-weight:600;font-size:14px;}
.new_title a:hover{color:#cc0000;}
.abstract{color:#999;line-height:18px;font-size:12px;}
.main_one_right{width:748px;}
.mr_one{height:82px;}
.mr_one_pic{width:485px;}
.mr_one_pic ul{overflow:hidden;height:82px;}
.mr_one_pic ul li{width:93px;height:82px;float:left;margin-right:5px;}
.mr_one_pic ul li.mro_last{margin-right:0;}
.mro_pic_1{background:url() center center no-repeat #eeeeee;width:93px;height:59px;display:block;}
.mro_pic_2{background:url() center center no-repeat #eeeeee;width:93px;height:59px;display:block;}
.mro_pic_3{background:url() center center no-repeat #eeeeee;width:93px;height:59px;display:block;}
.mro_pic_4{background:url() center center no-repeat #eeeeee;width:93px;height:59px;display:block;}
.mro_pic_5{background:url() center center no-repeat #eeeeee;width:93px;height:59px;display:block;}
.mro_name{display:block;background:#0E5EBE;height:23px;line-height:23px;text-align:center;color:#fff;}

.mr_one_pic ul li:hover .mro_pic_1{background:url() center center no-repeat #eeeeee;}
.mr_one_pic ul li:hover .mro_pic_2{background:url() center center no-repeat #eeeeee;}
.mr_one_pic ul li:hover .mro_pic_3{background:url() center center no-repeat #eeeeee;}
.mr_one_pic ul li:hover .mro_pic_4{background:url() center center no-repeat #eeeeee;}
.mr_one_pic ul li:hover .mro_pic_5{background:url() center center no-repeat #eeeeee;}

.mr_one_pic ul li:hover .mro_name{background:#67CB33;} 
.mr_one_r{background:url(../images/y_03.jpg) no-repeat;width:258px;height:82px;}
.user_login{width:120px;height:46px;margin:15px 0 0 15px;}
.solution{width:90px;height:55px;margin:13px 5px 0 0;}
.pic_news{overflow:hidden;margin-top:15px;}
.pic_news_title{background:url(../images/tf_23.jpg) repeat-x left center;}
.pic_news_more{background:#fff;margin:1px;padding:0 10px;margin-top:2px;}
.pic_news_mame{padding-left:0;background:#fff;padding:2px 5px 2px 0;}

.pic_news_con,.special{margin-top:15px;overflow:hidden;}
.rollBox{width:748px;overflow:hidden;margin:0 auto;} 
.rollBox .Cont{width:748px;overflow:hidden;float:left;} 
.rollBox .ScrCont{width:10000000px;} 
.rollBox .Cont .pic{width:175px;float:left;text-align:center;margin-right:15px;} 
.rollBox .Cont .pic img{background:#fff;display:block;margin:0 auto;width:173px;height:119px;} 
.rollBox .Cont .pic p{line-height:27px;color:#333;background:#e7e7e7;text-align:center;} 
.rollBox .Cont a:link,.rollBox .Cont a:visited{color:#626466;text-decoration:none;} 
.rollBox .Cont a:hover{color:#cc0000;} 
.rollBox #List1,.rollBox #List2{float:left;} 
.special_con{overflow:hidden;}
.special_con ul{overflow:hidden;}
.special_con ul li{background:url(../images/tb_22.jpg) no-repeat;width:240px;height:41px;float:left;font-size:14px;line-height:41px;text-indent:2em;margin:15px 14px 0 0;}
.special_con ul li:hover{background:url() no-repeat;}
.special_con ul li a{color:#333333;}
.special_con ul li:hover a{color:#fff;}
.special_con ul li.special_three{margin-right:0;}

.main_two{width:1200px;height:322px;overflow:hidden;margin:0 auto;margin-top:15px;}
.notice{width:430px;overflow:hidden;}
.notice_title{background:url() no-repeat left center;}
.main_two_right{width:748px;overflow:hidden;}
.notice_con{}
.notice_con ul{overflow:hidden;padding:15px 0;}
.notice_con ul li{background:url() no-repeat left center;padding-left:10px;font-size:12px;line-height:32px;}
.notice_con ul li a{color:#777;}
.notice_con ul li a:hover{color:#cc0000;}
.time{float:right;color:#777;}
.jydt{width:485px;overflow:hidden;}
.m_o_t{height:35px;border-bottom: 1px solid #0E5EBE;}
.m_o_t ul li{float:left;text-align:center;margin-right:20px;font-size:16px;line-height:35px;font-weight:600;}
.m_o_t ul li a{color:#666666;}
.m_o_t ul li.hover{border-bottom:3px solid #0E5EBE;height:32px;}
.m_o_t ul li.hover a{color:#0E5EBE;}
.m_o_con{width:485px;}
.m_o_con ul{height:auto;overflow:hidden;}
.more1{margin-top:-25px;}

.forum{width:240px;overflow:hidden;}
.forum_title{background:#0E5EBE;padding:0 15px;color:#fff;}
.forum_name{color:#fff;padding-left:0;}
.forum_more a{color:#fff;}
.forum_more a .white{color:#fff;}
.forum_pic{width:240px;height:134px;margin-top:1px;background:url(../images/fourm_pic.jpg) no-repeat;overflow:hidden;}
.forum_con{overflow:hidden;background:#59a7ff;}

.forum_con ul{overflow:hidden;padding:8px 10px;}
.forum_con ul li{line-height:28px;}
.forum_con ul li a{color:#fff;}


.foot{margin:0 auto;margin-top:20px;padding-top:15px;background:url(../images/foot.jpg) repeat-x;}
.foot_con{width:1200px;height:auto;margin:0 auto;}
.foot_pic{background:url(../images/foot_03.jpg) no-repeat ;width:226px;height:53px;margin:0 auto;margin-top:-37px;}
.footimg{width:200px;height:48px;margin:0 auto;}
.foot_link{border-bottom:1px solid #323232;padding:15px 0;width:1060px;margin:0 auto;overflow:hidden;}
.foot_link_1{overflow:hidden;padding-right:55px;border-right:1px solid #323232;}
.foot_link_1 li{font-size:12px;line-height:25px;}
.foot_link_1 li a{color:#999;}
.foot_link_1 li a:hover{color:#fff;}
.foot_link_2{padding-left:35px;}
.foot_link_3{border-right:0;padding-right:0;}
.foot_copy{padding:10px 0 12px 0;}
.foot_copy p{color:#999;line-height:23px;text-align:center;}

/*list*/
.list{overflow:hidden;height:auto;margin-top:12px;}
.list_left{width:286px;height:auto;float:left;}
.kstd{overflow:hidden;}
.kstd_title{width:286px;height:58px;background:url(../images/list_11.png) no-repeat;line-height:56px;}
.lmmc{font-size:14px;color:#fff;font-weight:600;padding-left:15px;}
.kstd_con{margin-left:6px;}
.kstd_con,.kstd_con ul{overflow:hidden;width:280px;}
.kstd_con ul li{height:38px;line-height:38px;background:url(../images/hs_03.gif) no-repeat 250px center #eee;border-top:1px solid #fff;border-bottom:1px solid #e3e3e3;text-indent:3em;}
.kstd_con ul li:hover{background:url(../images/j_03.gif) no-repeat 250px center #f9f9f9;}
.kstd_con ul li a{color:#585858;background:url(../images/l_03.gif) no-repeat 20px center;display:block;height:38px;}
.kstd_con ul li.cur{background:url(../images/j_03.gif) no-repeat 250px center #f9f9f9;}
.kstd_con ul li.cur a{color:#0339bd;font-weight:bold;}
.kstd_con ul li:hover a{color:#0339bd;font-weight:bold;}
.kswd_title{background:url(../images/list_23.jpg) no-repeat;width:280px;height:35px;line-height:35px;color:#fff;font-weight:600;padding-left:15px;font-size:14px;margin-left:6px;}
.kswd_con{overflow:hidden;margin-left:6px;width:280px;}
.kswd_con ul{overflow:hidden;}
.kswd_con ul li{height:43px;line-height:45px;background:url(../images/hs_03.gif) no-repeat 250px center #eee;border-top:1px solid #fff;border-bottom:1px solid #e3e3e3;text-indent:3em;}
.kswd_con ul li:hover{background:url(../images/hs_03.gif) no-repeat 250px center #f9f9f9;}
.kswd_con ul li a{color:#585858;display:block;padding-left:50px;height:43px;font-size:14px;}
.kswd_con ul li a.wd_1{background:url(../images/l1_03.gif) no-repeat 40px center;}
.kswd_con ul li a.wd_2{background:url(../images/x_03.gif) no-repeat 37px center;}
.kswd_con ul li a.wd_3{background:url(../images/h_03.gif) no-repeat 40px center;}
.kswd_con ul li a.wd_4{background:url(../images/s_03.gif) no-repeat 40px center;}
.kswd_con ul li a.wd_5{background:url(../images/d_03.gif) no-repeat 40px center;}

.main_t_pic{width:280px;margin-left:6px;}
.main_t_pic ul{}
.main_t_pic ul li{height:89px;}
.main_t_pic ul li.wx{height:96px;position:relative;}
.main_t_pic ul li.wx .ewm{display:none;position:absolute;left:40px;top:-180px;}
.main_t_pic ul li.wx .ewm img{width:200px;height:200px;}
.main_t_pic ul li.wx:hover .ewm{display:block;}

.list_t{border-bottom:1px solid #005faf;height:40px;line-height:40px;margin:0 10px;}
.name_list{display:block;height:33px;color:#666;padding-left:15px;font-size:14px;float:left;font-weight:600;}

.byjy{width:902px;height:auto;overflow:hidden;float:right;}
.byjy_t{width:900px;height:125px;background:url(../images/byjy.jpg) no-repeat left;}
.byjy_t_left{width:350px;height:42px;overflow:hidden;margin:70px 0 0 190px;}
.byjy_t_left ul{overflow:hidden;}
.byjy_t_left ul li{width:133px;height:42px;float:left;margin-right:25px;}
.byjy_right{width:170px;height:auto;overflow:hidden;margin:25px 35px 0 0;}
.byjy_right ul{overflow:hidden;}
.byjy_right ul li{background:url(../images/line2_03.jpg) no-repeat left bottom;height:37px;line-height:37px;}
.byjy_right ul li a{display:block;background:url(../images/tf2_03.gif) no-repeat left center;color:#104fa3;font-weight:600;padding-left:40px;font-size:14px;}
.contact_con p{font-size:14px;color:#555;line-height:25px;}
.contact_con{background:#f9f9f9;width:264px;padding:5px 8px;}
.list_right{width:900px;height:auto;overflow:hidden;float:right;border:1px solid #e2e2e2;margin-bottom:15px;}
.list_r_t{background:url(../images/list_14.png) repeat-x;width:900px;height:33px;line-height:33px;border-bottom:1px solid #e2e2e2;}
.list_r_d{height:auto;overflow:hidden;min-height:670px;}
.location{margin:0 auto;width:1200px;margin-top:10px;background:url(../images/list_07.png) no-repeat left center;border-bottom:1px solid #ddd;height:35px;line-height:35px;padding-left:20px;}
.list_r_d ul{padding:15px 40px;}
.list_r_d ul li{line-height:35px;background:url(../images/list_19.png) no-repeat left center;padding-left:10px;font-size:14px;border-bottom:1px dotted #ccc;}
.list_r_d ul li a{color:#555;}
.list_r_d ul li a:hover{color:#cc0000;}
.time{float:right;}
.hot_con{padding:8px;line-height:27px;height:auto;overflow:hidden;}

/*two nav*/
.menu_2{width:280px; margin:0 auto; padding:0; padding-top:0px;  overflow:hidden;margin-left:6px;}
.menu li.level1 {line-height:38px;background:url(../images/hs_03.gif) no-repeat 250px 15px #eee;border-top:1px solid #fff;border-bottom:1px solid #e3e3e3;text-indent:3em;font-size:14px;}
.menu li.level1 a{color:#585858;background:url(../images/l_03.gif) no-repeat 45px center;display:block;height:38px;padding-left:30px;}
.menu li.level1:hover{background:url(../images/j_03.gif) no-repeat 250px 15px #f9f9f9;}



.menu li.cur{background:url(../images/j_03.gif) no-repeat 250px 15px #f9f9f9;}
.menu li.cur a{}
.menu li:hover a{color:#0339bd;font-weight:bold;}
.menu li ul{overflow:hidden; padding:0; margin:0;}
.menu li ul.level2{width:207px;display:none; color:#f1f0f0; font-weight:bold;}
.menu li ul.level2 li{height:35px;line-height:35px;border-bottom:1px solid #f1f1f1;padding-left:25px;background:url() no-repeat 35px center;}
.menu li ul.level2 li a{display:block;height:35px;line-height:35px;color:#666;overflow:hidden; font-size:12px; font-weight:normal;font-family:"Microsoft YaHei"; border:none}
.menu li ul.level2 li a.sub_menuzi{color:#222;font-weight:600;}
.menu li ul.level2 li a:hover{color:#0339bd;}

/*contnet*/
.cont_c{border:1px solid #ddd;background:url(../images/c_03.jpg) repeat-x;margin-top:20px;padding:20px;font-family:"Microsoft YaHei";margin-bottom:15px; }
.locat{background:url(../images/list_07.png) no-repeat left center;padding-left:20px;height:30px;line-height:30px;}
.cont_con{margin-top:30px;width:1100px;margin:0 auto;}
.c_title{color:#cc0000;font-size:20px;text-align:center;line-height:60px;}
.other{color:#666;text-align:center;border-bottom:1px solid #ddd;line-height:30px;}
.zw{color:#444;font-size:14px;padding:20px 0;min-height:550px;}
.zw p{line-height:28px !important;}
.zw p span{line-height:28px !important;}

.page_bar{overflow:hidden;height:30px;line-height:30px;}
.page_bar a{color:#666;padding-left:30px;}
.pre{background:url(../images/left_03.png) no-repeat left center;}
.next1{background:url(../images/left_05.jpg) no-repeat left center;}

.list_sy{overflow:hidden;margin:15px 40px;}
.list_tw{border-bottom:1px dashed #ccc;padding:20px 0;overflow:hidden;}
.list_t1{width:164px;height:109px;}
.list_w{width:600px;overflow:hidden;margin-left:40px;}
.xxnr{padding-top:10px;}
.list_w_title{padding-bottom:15px;}

.list_pic_con{overflow:hidden;font-family:"Microsoft YaHei";}
.list_r_d ul.list_pic_con li{float:left;width:250px;height:247px;background:none;border-bottom:none;padding-left:0;margin:10px 15px 10px 22px;overflow:hidden;}
.list_pic_con li .pic{width:236px;height:148px;padding:7px;background:#f2f2f2;}
.list_r_d ul.list_pic_con li a{line-height:25px;}
.data{color:#999;font-size:12px;}

.list_w_title a{color:#0E5EBE;}
.list_w_title a:hover{color:#cc0000;}


/* bcon */
.bcon{width:270px;border:1px solid #eee;margin:30px auto;}
.bcon h2{border-bottom:1px solid #eee;padding:0 10px;}
.bcon h2 b{font:bold 14px/40px '宋体';border-top:2px solid #3492D1;padding:0 8px;margin-top:-1px;display:inline-block;}
.list_lh{height:88px;overflow:hidden;margin-top:12px;}
.list_lh li{padding:0px 0;}
.list_lh li.lieven{background:none;}
.list_lh li p{height:24px;line-height:24px;color:#fff;text-align:center;}
.list_lh li p a{float:left;}
.list_lh li p em{width:80px;font:normal 12px/24px Arial;color:#FF3300;float:right;display:inline-block;}
.list_lh li p span{color:#fff;float:right;}
.list_lh li p a.btn_lh{background:#28BD19;height:17px;line-height:17px;color:#fff;padding:0 5px;margin-top:4px;display:inline-block;float:right;}
.btn_lh:hover{color:#fff;text-decoration:none;}
